- 
  let navLinks =  [
    {link: "works.html", name: "Работы", li_class: "", icon: "icon_works"},
    {link: "about.html", name: "О нас", li_class: "ml-md-3", icon: "icon_about"},
    {link: "services.html", name: "Услуги", li_class: "ml-md-3", icon: "icon_services"},
    {link: "contacts.html", name: "Контакты", li_class: "ml-md-3", icon: "icon_contacts"}
  ]
mixin headerNav(className, numberId, links, tel)
  header(class=className)
    nav(class="mb-1 mt-3 navbar users-navbar navbar-expand-md navbar-light")
      a(class="navbar-brand shadow-radial" href="index.html")
            img(src="img/logo.png" class="img-fluid" alt="logo")
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target=`#navbarSupportedContent-${numberId}`)
            span(class="navbar-toggler-icon")
      if (tel)
        a(href="tel:+375293487688").btn-floating.btn-lg.bg-site.d-block.d-sm-none
          i.fas.fa-phone-alt
      div(class="collapse navbar-collapse" id=`navbarSupportedContent-${numberId}`)
        ul.navbar-nav.ml-auto.menu
          each i in links
            li(class="nav-item" + " " + i.li_class)
              a(href=i.link).nav-link=i.name
                span.float-shadow
                  span(class="icon d-none d-md-block" + " " + i.icon)

block header
  <!-- Navbar -->
  +headerNav("container d-none d-lg-block", 1, navLinks, tel=false)
  +headerNav("container-fluid d-block d-lg-none", 2, navLinks, tel=true)
  <!-- /. Navbar -->